##################################################
#  Version 2.8 29.10.2025 
###################################################

# This file contains common pin mappings for the Two Trees Sapphire
# Pro (SP-3) printer (Robin Nano 1.2, 2208 drivers for X,Y and A4988 for Z,E).

# INSTRUCTIONS FOR COMPILING
# To use this config, the firmware should be compiled for the STM32F103.
# When running "make menuconfig", enable "extra low-level configuration setup", 
# select the 28KiB bootloader, serial (on USART3 PB11/PB10) to use USB communication
# or serial (on USART1 PA10/PA9) to use direct UART connection with Raspberry trough wifi pins.
# Set "GPIO pins to set at micro-controller startup" to "!PC6,!PD13" to turn off display at startup.

# INSTRUCTIONS FOR FLASHING, THE SCRIPT IS COMPULSORY OR IT WON'T WORK!!!
# Note that the "make flash" command does not work with the Robin Nano!
# After running "make", run the following command in one row FROM THE KLIPPER FOLDER:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin (if you can't find the file the script was not executed)
# to an SD card and then restart the printer with that SD card.
# If you removed the LCD screen rename the file to "Robin_nano43.bin" for correct flashing.

# See docs/Config_Reference.md for a description of parameters.


######################################################################################################
# 
# MOJE KOMENTARZE:
# przeniesione do LOGU: LOG_printer_cfg.xlsx
######################################################################################################

###################################################
#  ATTACHMENTS
###################################################
[include mainsail.cfg]
[include my_macros.cfg]
[include beam_beeper.cfg]
#[include timelapse.cfg]
[include KAMP_Settings.cfg]


[exclude_object]

############################################################
# Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 230.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; #allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; #different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; #different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:
############################################################


###################################################
#  STEPPERS
###################################################
[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: !PA15
position_endstop: 0

position_max: 230
homing_speed: 50

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: !PA12
position_endstop: 230
position_min: 2
position_max: 230
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop

position_max: 230
position_min: -10

###################################################
#  BLTOUCH
###################################################
[bltouch]
sensor_pin: ^PA11
control_pin: PA8
samples: 2
sample_retract_dist: 3.0
probe_with_touch_mode: False
#pin_up_touch_mode_reports_triggered: True
x_offset: 0
y_offset: -42
#z_offset = 0

[safe_z_home]
home_xy_position: 117.5, 117.5
speed: 50.0
z_hop: 5.0 
z_hop_speed: 15.0

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10,12
mesh_max: 220,188
probe_count: 6, 6
mesh_pps: 2,2
fade_start:1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
screw1: 10,230
screw1_name: Back Left
screw2: 218,51
screw2_name: Front Right
screw3: 218,230
screw3_name: Back Right
screw4: 10,51
screw4_name: Front Left
speed: 200 #v1.9
horizontal_move_z: 10
screw_thread: CW-M4

###################################################
#  HOT END & EXTRUDER
###################################################

[extruder]
step_pin: PD6
#dir_pin: default !PD3 changed to PD3 v1.6 to repair reversed extrusion 
dir_pin: PD3
enable_pin: !PB3
microsteps: 16
gear_ratio: 50:17
#full_steps_per_rotation: default 200 added v1.5
full_steps_per_rotation: 200 
rotation_distance: 23.0496 #V1.7
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC1
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
min_temp: 0
#max_temp: defalut value 250
max_temp: 250
#max_temp: 260 #temp value for PID
#max_power: 0.85 #ograniczenie mocy grzałki do PID

#min_extrude_temp: default value 170 for ESTEP calibration setted to 0 v1.5
min_extrude_temp: 170

#max_extrude_only_distance: default 50.0 v1.5
max_extrude_only_distance: 50
max_extrude_cross_section: 5

###################################################
#  BED
###################################################
[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
#control: pid
#pid_Kp: 325.10
#pid_Ki: 63.35
#pid_Kd: 417.10
min_temp: 0
max_temp: 130

[heater_fan extruder]
pin: PB0

[fan]
pin: PB1

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

###################################################
#  HARDWARE
###################################################
[printer]
kinematics: corexy
max_velocity: 250
max_accel: 9000 ;4500
max_z_velocity: 10
max_z_accel: 80
square_corner_velocity: 5.0

[bed_screws]
screw1: 10,230
screw1_name: Back Left
screw2: 218,51
screw2_name: Front Right
screw3: 218,230
screw3_name: Back Right
screw4: 10,51
screw4_name: Front Left

###################################################
#  Firmware retraction
###################################################
[firmware_retraction]
retract_length: 6
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.


###################################################
#  MISC
###################################################
[static_digital_output reset_display]
pins: !PC6, !PD13



###################################################
#  SD-CARD
###################################################
#[virtual_sdcard] #zdefiniowane w mainsail.cfg
#path: /home/sapphirepro/printer_data/gcodes
#on_error_gcode: CANCEL_PRINT
###################################################
#  DEFAULT
###################################################
#[pause_resume]

#[display_status]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.749
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 13.627
#*# pid_ki = 0.437
#*# pid_kd = 106.288
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.699
#*# pid_ki = 1.620
#*# pid_kd = 771.499
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.033750, -0.011250, 0.017500, 0.035313
#*# 	  -0.014375, -0.015000, 0.016875, 0.015313
#*# 	  0.011875, 0.016250, 0.060313, 0.022500
#*# 	  0.036250, 0.079688, 0.076563, 0.096563
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 220.0
#*# min_y = 12.0
#*# max_y = 187.98
